* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: #f4f5f6;
  font-family: "Roboto Condensed", sans-serif;
}

.container{
  max-width: 1300px;
  margin: auto;
  background: #fff;
}

.container .nav-item a {
  font-weight: 700;
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-right: 1px solid #e5e5e5;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.navbar ul li {
  list-style-type: none;
}

main {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #161616;
}

.article-post a {
  text-decoration: none;
}

.social li {
  list-style: none;
}

.footer-navigation li {
  list-style: none;
  float: left;
}

.social li a {
  font-size: 1.3rem;
  padding-right: 1rem;
  color: #666;
}

.footer-navigation li a {
  padding: 0 0.8rem;
  border-right: 1px solid #e5e5e5;
  color: #666;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.logo-area {
  background: #f72210;
}

.current-date {
  font-weight: 100;
  color: #fff;
}

.signin-btn {
  background: transparent;
  color: #fff;
  font-weight: bold;
}

.subscribe-btn {
  background: #fff;
  border-radius: 0;
  padding: 0.3rem 1.2rem;
  font-weight: bold;
  color: #f72210;
}

.search-bar {
  border: none;
  background: transparent;
  font-size: 1rem;
}

.featured-col img {
  width: 100%;
}

.featured {
  max-width: 98%;
  margin: auto;
}

.fa-search {
  position: absolute;
  left: 50%;
}

.p-relative {
  position: relative;
}

.highlights {
  color: #666;
}

.article-post h4 {
  font-weight: bold;
}

.article-post h4,
.article-post p {
  color: #000;
}

.article-post h4:hover,
.article-post h5:hover,
.article-post h6:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
  color: #000;
}

.article-img {
  position: relative;
}


